{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/rapor.css' %}">

<div class="reports">

    <div class="table1">
        <h2>Günlük Rapor</h2>
        <hr>
        <p>Toplam Satış: {{ total_sales_today }} TL</p>
        <hr>
        <p>Net Kar: {{ net_profit_today }} TL</p>
        <hr>
        <p>Nakit Satış: {{ total_cash_sales_today }} TL</p>
        <hr>
        <p>Kart Satış: {{ total_credit_sales_today }} TL</p>
        <hr>
        <p>Satılan Ürün Adedi: {{ total_items_sold_today }}</p>
    </div>

    <div class="table1">
        <h2>Aylık Rapor</h2>
        <hr>
        <p>Toplam Satış: {{ total_sales }} TL</p>
        <hr>
        <p>Net Kar: {{ net_profit }} TL</p>
        <hr>
        <p>Nakit Satış: {{ total_cash_sales }} TL</p>
        <hr>
        <p>Kart Satış: {{ total_credit_sales }} TL</p>
        <hr>
        <p>Satılan Ürün Adedi: {{ total_items_sold }}</p>
    </div>

    <div class="table1">
        <h2>3 Aylık Rapor</h2>
        <hr>
        <p>Toplam Satış: {{ total_sales_3_months }} TL</p>
        <hr>
        <p>Net Kar: {{ net_profit_3_months }} TL</p>
        <hr>
        <p>Nakit Satış: {{ total_cash_sales_3_months }} TL</p>
        <hr>
        <p>Kart Satış: {{ total_credit_sales_3_months }} TL</p>
        <hr>
        <p>Satılan Ürün Adedi: {{ total_items_sold_3_months }}</p>
    </div>

    <div class="table1">
        <h2>6 Aylık Rapor</h2>
        <hr>
        <p>Toplam Satış: {{ total_sales_6_months }} TL</p>
        <hr>
        <p>Net Kar: {{ net_profit_6_months }} TL</p>
        <hr>
        <p>Nakit Satış: {{ total_cash_sales_6_months }} TL</p>
        <hr>
        <p>Kart Satış: {{ total_credit_sales_6_months }} TL</p>
        <hr>
        <p>Satılan Ürün Adedi: {{ total_items_sold_6_months }}</p>
    </div>

    <div class="table1">
        <h2>1 Yıllık Rapor</h2>
        <hr>
        <p>Toplam Satış: {{ total_sales_year }} TL</p>
        <hr>
        <p>Net Kar: {{ net_profit_year }} TL</p>
        <hr>
        <p>Nakit Satış: {{ total_cash_sales_year }} TL</p>
        <hr>
        <p>Kart Satış: {{ total_credit_sales_year }} TL</p>
        <hr>
        <p>Satılan Ürün Adedi: {{ total_items_sold_year }}</p>
    </div>    

</div>


<div class="sales">
    <h2 class="header">Satışlar</h2>
        <div class="table">
            <table id="salesTable">
                <thead>
                    <tr>
                        <th>Barkod</th>
                        <th>Ürün Adı</th>
                        <th>Adet</th>
                        <th>Satış Fiyatı</th>
                        <th>Toplam Fiyat</th>
                        <th>Ödeme Yöntemi</th>
                        <th>Satış Tarihi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                    <tr>
                        <td>{{ sale.item.barcode }}</td>
                        <td>{{ sale.item.name }}</td>
                        <td>{{ sale.quantity }}</td>
                        <td>{{ sale.sale_price }} TL</td>
                        <td>{{ sale.total_sale }} TL</td>
                        <td class="{% if sale.payment_method == 'credit_card' %}credit{% elif sale.payment_method == 'cash' %}cash{% endif %}">
                            {% if sale.payment_method == 'credit_card' %}
                                Kredi Kartı
                            {% elif sale.payment_method == 'cash' %}
                                Nakit
                            {% else %}
                                {{ sale.payment_method }}
                            {% endif %}
                        </td>
                        <td>{{ sale.sale_date }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Satış bulunamadı.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; İlk</a>
            <a href="?page={{ page_obj.previous_page_number }}">Önceki</a>
        {% endif %}

        <span class="current">
            Sayfa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Sonraki</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Son &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
